

.heading-img-div1 {
  margin-left: 37.5%;
  align-items: center;
  justify-content: center;
  max-height: 400px;
  max-width: 400px;
  margin-top: 60px;

	object-fit: cover;
}

.heading-text-div1 {
  text-align: center;
  justify-content: center;
  margin-right: 3%;
  margin-left: 3%;
}
