.rating-outer-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    margin: 2em 2em 0em 2em;
    padding: 4em 3.5em 3em 2em;
    border-radius: 10px;
    max-width: 900px;
    flex: 1;
    width: 100%;
}

.rating-container {
    display: flex;
    flex-direction: row;
}

.rating-left {
    display: flex;
    flex-direction: row;
    flex: 7;
}

.rating-team {
    display: flex;
    align-items: center;
}

.rating-team img {
    width: 28px;
    margin-right: 5px;
    margin-left: 10px;
}

.rating-team a {
    margin-right: 10px;
    margin-left: 5px;
}

.rating-left-match {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.rating-right {
    text-align: center;
    flex: 5;
}

.rating-right-referee {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75em;
}

.rating-right-referee a {
    color: #444;
    text-decoration: none;
}

.rating-right-referee a:hover {
    color: #e51936;
}

.react-rater-star {
    color: #ccc !important;
    font-size: 28px;
}

.react-rater-star.is-active {
    color: #fc6 !important;
}

.react-rater-star.will-be-active {
    color: #fd9 !important;
}

.rating-right-date {
    color: #999;
    font-size: 0.75em;
    margin-top: 0.4em;
}

.rating-right-error {
    color: #dc3545;
    font-size: 0.75em;
    margin-top: 0.4em;
}

.rating-comment-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 0.75em;
    font-size: 0.75em;
}

.rating-comment-add-button a {
    text-decoration: none;
    color: #666;
}

.rating-comment-add-button a:hover {
    color: #e51936;
}

.rating-submit {
    display: flex;
    align-items: center;
    flex: 1.25;
    justify-content: center;
}